<p class="nav-social">Find me Here</p>
	<ul>
		<li>
			<a href="#"><img src="{{ page.root_path }}/img/facebook.png" alt="facebook"></a>
			<a href="#"><img src="{{ page.root_path }}/img/google.png" alt="google"></a>
			<a href="#"><img src="{{ page.root_path }}/img/git.png" alt="git"></a>
			<a href="#"><img src="{{ page.root_path }}/img/tumbler.png" alt="tumblr"></a>
			<a href="#"><img src="{{ page.root_path }}/img/twitter.png" alt="twitter"></a>
			<a href="#"><img src="{{ page.root_path }}/img/pinterest.png" alt="pinterest"></a>
		</li>
	</ul>