/* main styles, nothing fancy */

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

    
/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.embed {
	position: relative;
	padding: 0px;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.embed iframe, .embed object, .embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* typography */
body {
	font-size: 100%;
	line-height: 1.5em;
	font-family: Helvetica, sans-serif;
	color: #303030;
}

h2 {
	font-size: 2em;
	line-height: 1.2em;
}

a,
a:visited {
	color: #BEC3C4;	
}


h2 a,
h2 a:visited,
h3 a,
h3 a:visited {	
	color: #303030;
	text-decoration: none;
}

a:hover,
h2 a:hover,
h3 a:hover {
	text-decoration: none;
	color: #BEC3C4;	
}

hr {
	border: none;
	border-bottom: 3px solid #ccc;
	margin: 3em 0 0;
	width: 100%;
	clear: both;
	outline: none;
	height: 0;
}

@media only screen and (min-width: 700px) {

	body {
		font-size: 1.25em;
	}

}


/* hero */
.hero {
	background: #525F60; /* love this colour - it's nuts...*/
	padding: 2em 0;	
}

.hero h2 {
	letter-spacing: -0.05em;
	font-size: 3em;
	line-height: 1.0em;
	color: white;
	margin: 0;
}

/* layout */
header {
	background: #798283;
	padding: 1em 0;
    -webkit-transition: all .1s ease-in-out;  
	-moz-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out; 
}

header:hover {
	background: #A0A6A7;
	padding: 1em 0;
}

.wrapper {
	padding: 1em;
}



@media only screen and (min-width: 700px) {

	.wrapper {
		width: 70%;
		margin: 0 auto;
		padding: 1em 0;
	}
	
	.hero {
		padding: 3em 0;	
	}
	
	.hero h2 {
		width: 80%;
		font-size: 5em;
	}
	
	.main .tasters {
		width: 70%;
		float: right;
	}
	
	.main aside {
		width: 30%;
		float: left;
	}

}

/* header */
h1.logo {
	margin: 0;
}

h1.logo a {
	line-height: 2em;
	height: 2em;
	width: 100%;
	color: white;
}

h1.logo a:hover {
	color: #3aa4ce;
}

header .wrapper {
	padding: 0;
	text-align: center;
}
header a {
	color: #cccccc;
	text-decoration: none;
}

header nav li {
	display: inline;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav a {
	padding: 0 1em;
	line-height: 4em;
	display: inline-block;
}
header nav a:hover {
	background: #3aa4ce;
	color: white;	
}

@media only screen and (min-width: 700px) {

	h1.logo a {
		float: left;
		display: block;
		text-align: left;
		width: auto;
	}
	
	header nav ul {
		float: right;
	}

}

/*articles*/
.main article {
	margin: 3em 0 0 0;
}

.link_next {
	max-width: 50%;
	float: right;
	margin: 2em 0;
}

.link_prev {
	max-width: 50%;
	float: left;
	margin: 2em 0;
}

ul.index {
	padding: 0;
	list-style: none;
	margin: 0;
}

ul.index li {
	margin: 2em 0 1em 0;
}

/*comments*/
#disqus_thread {
	margin: 2em 0 0 0;
}

/* aside */
.main aside {
	margin: 3em 0 0;
	padding: 0 3em 0 0;	
}

.main aside ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main aside li {
	padding: 0 0 1em 0;
}

/*footer*/
footer {
	text-align: center;
	padding: 4em 0;
}

footer  {
	font-size: 0.7em;	
}

footer ul {
	margin: 0;
	padding: 0;	
}

footer li {
	display: inline;
}

footer li a {
	padding: 0 0.5em;
}