{% include 'partials/head.html' %}
	
<section class="hero">

	<div class="wrapper">

		<h2>I'd Rather Be <span>Sleeping</span> Coding.</h2>
		
	</div> <!--/ wrapper -->

</section>
<section class="main clearfix">

	<div class="wrapper">	

		<aside class="sidebar">
		
			{% include 'partials/nav_articles.html' %}
		
		</aside><!--/ sidebar -->
	
		<div class="tasters">	

			{% include 'partials/list_articles.html' %}
			
		</div><!--/ tasters -->	
	
	</div> <!--/ wrapper -->

</section><!--/ main -->


{% include 'partials/footer.html' %}
